[Unit]
Description=Recipe runner service
After=network.target

[Service]
Type=simple
ExecStart=recipe-runner /home/reactor/recipe-runner/config/default.yaml
Restart=always
User=root

[Install]
WantedBy=multi-user.target
